body {
    background-color: #201924;
}

h1, h2, h3, h4, h5, h6,p,a {
    color: #fff;
}

h4{
    font-size: 16px;
}

.entradas,.entradas::placeholder{
    background-color: #322C3A;
    color: #fff;
}

.botoes_transacao {
    background-color: #AD8AFF;
}

.quantidade-valor {
    width: 90%;
}
